/* Home container */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 80px); /* Adjusted height to prevent extra scroll */
  font-family: 'Poppins', sans-serif;
  padding-top: 80px; /* Matches header height */
  overflow-x: hidden; /* Prevents horizontal scroll */
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  .home-container {
      padding-top: 60px;
      min-height: calc(100vh - 60px);
  }
}
